.about-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.about-header h2 {
    font-size: 22px;
}

.about-header > div {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.about-header .flexImg {
    width: 30%;
    background-size: cover;
    background-position: center;
    margin: 120px 40px 120px 40px!important;
}

.about-header .info {
    align-self: center;
    max-width: 40%;
}

.about-header .info p {
    margin: 20px 0;
}

@media only screen and (max-width: 900px) {
    .about-header .flexImg {
        background-position: right;
    }
}