.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.profile header {
	z-index: 38;
    display: flex;
    flex-direction: row;
    height: 300px;
    min-height: 0;
    background-color: #000000;
}

.user-info {
	align-items: center;
}

.profile .icon {
	z-index: 40;
	align-self: center;
	width: 150px;
	height: 150px;
	margin-top: -75px;
	border: 4px solid #000000;
}

.icon-edit-overlay {
	background-color: var(--primary-color);
	padding: 10px;
	z-index: 41;
	position: absolute;
	align-self: center;
	font-size: 70px;
	color: #000;
	margin: -30px 0 0 0;
	border-radius: 50%;
	opacity: 0.5;
}

.switch-icon-style label {
	margin: 5px 0px 15px 0px;
	padding: 5px;
	display: flex;
	width: 100%;
	justify-content: center;
	border-bottom: 2px solid var(--light-grey);
}

.edit-images-form small {
	font-size: 11px;
	text-align: center;
	margin: 5px 0;
}

.edit-icon {
	z-index: 39;
	position: absolute;
	align-items: center;
	align-self: center;
	margin: -75px 0 0 350px;
	width: 200px;
	font-size: 12px;
	color: #000;
}

.edit-icon h3 {
    margin: 0;
}

.edit-icon input {
    max-width: 95%;
    margin: 5px;
}

.profile .description {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 10px 0 20px 0;
	width: 100%;
	border-bottom: 1px solid var(--med-border);
}

.edit-user-info-button {
	opacity: 0.5;
	margin: 10px 0;
	font-size: 20px;
	cursor: pointer;
}

.edit-user-info-button:hover {
	opacity: 1;
}

.edit-user-info {
	z-index: 110;
	display: block;
	position: fixed;
	top: 70px;
	height: calc(100vh - 70px);
	width: 100%;
	padding: 5% 25% 0 25%;
	border-radius: 0;
	font-size: 18px;
	text-align: left;
}

.edit-user-info h3 {
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 40px 0;
}

.edit-user-info h2 {
	font-size: 22px;
}

.edit-user-info h3 {
	font-size: 18px;
}

.edit-user-info input,
.edit-user-info textarea,
.edit-user-info label {
	font-size: 14px;
}

.edit-user-info h2,
.edit-user-info h3 {
	padding: 0 0 5px 0;
	text-align: center;
	border-bottom: 2px solid var(--light-grey);
}

.edit-user-info h3:hover {
	opacity: 1;
	cursor: pointer;
	border-bottom: 2px solid var(--med-grey);
}

.edit-user-info h2 {
	margin: 0 0 20px 0;
}

.close-icon {
	margin: 0 0 0 10px;
}

.edit-user-info form {
	max-width: 500px;
}

.edit-user-info .row {
	align-items: center;
}

.edit-user-info .row label {
	margin-right: 10px;
}

.edit-user-info textarea {
	min-height: 0;
}

.profile .liked-albums-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	margin: 20px 0 50px 0;
}

.profile .like {
	display: none;
}

.profile .liked-albums .album {
	width: 250px;
}