.album {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 250px;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 10px;
    color: var(--text);
    box-shadow: var(--light-box-shadow);
    white-space: normal;
    text-align: center;
}

.album h2,
.album h3 {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 5px;
}

.album h2 {
    color: #000000;
}
