.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    height: 80px;
}

.pagination .row {
    padding: 0;
    margin: 10px;
    align-items: stretch;
}

.pagination label {
    display: flex;
    align-self: stretch;
}

.pagination input {
    margin: 0;
}

.pagination .box{
    margin: 3px;
    padding: 10px;
    border-radius: 5px;
}