
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  box-shadow: var(--light-box-shadow);
  background-color: #FFFFFF;
  color: #000000;
}

form button,
form input {
  width: 100%;
  margin: 10px 0;
}

textarea,
input {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 14px;
  border: 2px solid var(--light-grey);
}

textarea:focus,
input:focus {
  outline:0;
  border: 2px solid var(--med-grey);
}

input::placeholder {
  line-height: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea {
  overflow: auto;
  outline: none;
  resize: none;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  margin: 10px auto;
}

input[type="radio"] {
	display: flex;
	appearance: none;
	transform: translateY(-0.075em);
	margin: 0 5px;
  padding: 5px;
	font: inherit;
	border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #000000;
  border: 2px solid #000000;
}

.form .select-tags {
  margin: 10px;
  padding: 0;
}